{% extends 'base.html.twig' %}

{% block title %}Hello FakerController!{% endblock %}

{% block body %}
<div class="h-screen flex flex-col items-center gap-6 mt-6">
<div class="flex gap-4 justify-center items-center">
    <form class="flex gap-5 w-full" id="form">
        <div class="flex flex-col w-full px-4 py-2 bg-white border border-gray-300 rounded-md">
            <label for="language" class="block font-medium mb-1 text-sm text-gray-500 dark:text-white">Language</label>
            <select id="language" name="language" class="h-full text-gray-900 block outline-none dark:bg-gray-700 w-[120px]">
                <option selected value="en">English</option>
                <option value="fr">Franch</option>
                <option value="de">Deutch</option>
            </select>
        </div>

        <div class="flex flex-col justify-center w-full px-4 py-2 bg-white  border border-gray-300 rounded-md">
            <label for="seed" class="block font-medium mb-1 text-sm text-gray-500 dark:text-white">Seed</label>
            <div class="flex gap-2">
                <input type="text" id="seed" value="42" class="h-full text-gray-900 block outline-none dark:bg-gray-700 w-[120px]"/>
                <button type="button" id="shuffle" class="text-white bg-blue-700 px-4 py-2 rounded-md">
                    <i class="fa-solid fa-shuffle">
                </i></button>
             </div>
        </div>

        <div class="flex flex-col justify-center w-full px-4 py-2 bg-white  border border-gray-300 rounded-md">
            <label for="quantity" class="block font-medium mb-1 text-sm text-gray-500 dark:text-white">Quantity</label>
            <input type="number" id="quantity" name="quantity" value="20" aria-describedby="helper-text-explanation" 
                    class="h-full text-gray-900 block outline-none dark:bg-gray-700 w-[120px]" />
        </div>
        <div class="flex flex-col justify-center w-full px-4 py-2 bg-white  border border-gray-300 rounded-md">   
            <div class="flex justify-between items-center">
                <label for="likes" class="block font-medium mb-1 text-sm text-gray-500 dark:text-white">Likes</label>
                <p id="likes-slider-msg" class="text-sm text-gray-500">
                    3.7
                </p>
            </div>
            <input id="likes" name="likes" type="range" min="0" max="10" value="3.7" step="0.1" class="w-[120px] h-full text-gray-900 block outline-none dark:bg-gray-700">
            
        </div>
        <div class="flex flex-col justify-center w-full px-4 py-2 bg-white  border border-gray-300 rounded-md">
            <label for="reviews" class="block font-medium mb-1 text-sm text-gray-500 dark:text-white">Reivews</label>
            <input type="text" value="4.7" name="reviews" id="reviews" class="w-[120px] h-full text-gray-900 block outline-none dark:bg-gray-700"/>
        </div>
    </form>

    <div class="flex flex-col gap-1">    
        <button disabled id="download" type="button" class="py-2.5 px-5 me-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">
            <div id="download-spinner">
                <svg  aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
                </svg>
            </div>
            <p id="downloadBtnText">
                Loading...
            </p>
        </button>
        <div class="flex">
            <button id="table-button" type="button" class="py-2.5 px-5 me-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">
               <i class="fa-solid fa-table text-lg"></i>
            </button>
            <button id="grid-button">
                <div role="status" id="grid-spinner">
                    <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                    </svg>
                    <span class="sr-only">Loading...</span>
                </div>
                <p class="hidden" id="grid-icon">
                    <i class="fa-solid fa-grip text-lg"></i>
                </p>
            </button>
        </div>
    </div>
</div>

<div id="table-box" class="relative overflow-x-auto shadow-md sm:rounded-lg max-w-min mx-auto h-full mb-8 px-8 py-4">
<table id="table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr scope="col" class="p-4">   
            <th scope="col" class="px-6 py-3 text-center"></th>
            <th scope="col" class="px-6 py-3 text-center">No</th>
            <th scope="col" class="px-6 py-3 text-center">ISBN</th>
            <th scope="col" class="px-6 py-3 text-center">Title</th>
            <th scope="col" class="px-6 py-3 text-center">Author</th>
            <th scope="col" class="px-6 py-3 text-center">Publisher</th>
            <th scope="col" class="px-6 py-3 text-center">Image</th>
        </tr>
    </thead>
    <tbody id='faker-box'>
    </tbody>
</table>

<div role="status" id="loading-trigger" class="invisible my-4 flex items-center justify-center">
    <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
    </svg>
<span class="sr-only">Loading...</span>
</div>
</div>
<div id="grid" class="grid grid-cols-3 gap-4 max-w-5xl mx-auto hidden" >
</div>
</div>


<script>
  function toggleAccordion(rowId, imageUrl) {
    const contentRow = document.getElementById(`content-${rowId}`);
    const image = document.getElementById(`image-${rowId}`);
    
    if (contentRow.classList.contains('hidden')) {
        contentRow.classList.remove('hidden');
        if (!image.src) {
            image.src = imageUrl;  
            image.onload = function() {
                image.style.display = 'block';
            };
            image.onerror = function() {
                console.error('Image failed to load.');
            };
        }
    } else {
        contentRow.classList.add('hidden');
    }

}
</script>
{% endblock %}
